</form>

    <h1>Status powiadomień</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Klient</th>
          <th>Adres Email</th>
          <th>Model</th>
          <th>Numer rejestracyjny</th>
          <th>Numer telefonu</th>
          <th>Data ostatniego przeglądu</th>

          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @cars.each do |car| %>
          <tr>
            <td><%= link_to car.client_name, cars_path(search: car.client_name) %>
           </td>
            <td><%= car.email %></td>
            <td><%= car.name %></td>
            <td><%= car.plate_number %></td>
            <td><%= car.telephone_number %></td>
            <td><%= car.last_serviced_at %></td>

            <td><%= link_to 'Powiadom', new_message_path %></td>

          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
</form>
